body
{
	background-image: url(math_image.jpeg);
}

	.math_div_1 , .math_div_1
	{
		background: yellowgreen;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left:5px;
}
.maths{
	font-size: 300px;
	color: purple;
}